<section class="contact-section bg-black" id="contact">
  <div class="container">
    <div class="row">


      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fa fa-envelope fa-2x text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">E-mail</h4>
            <hr class="my-4">
            <div class="small text-black-50">projectx.entertainment@gmail.com</div>
          </div>
        </div>
      </div>


      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fa fa-mobile fa-2x text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Phone</h4>
            <hr class="my-4">
            <div class="small text-black-50">+95 9448053816</div>
          </div>
        </div>
      </div>


      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fa fa-facebook fa-2x text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Facebook</h4>
            <hr class="my-4">
            <div class="small text-black-50">Project-x</div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

<footer class="footer text-center">
  <small>Copyright &copy; Project-X 2018</small>
</footer>
